.card {
  display: flex;
  flex-direction: column;
  border: 10px solid rgba(1, 1, 1, 0.922);
  border-radius: 25px;

  cursor: pointer;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  padding: 2rem;
  height: 10rem;
  width: 20rem;
  gap: auto;
  box-shadow: rgba(1, 1, 1, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.32),
    orange,
    rgba(255, 255, 0, 0.26),
    green,
    rgba(0, 0, 255, 0.114),
    rgb(0, 128, 130),
    violet
  );

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1.5rem 1fr 2fr 2rem;
  grid-template-areas:
    "favorite"
    "title"
    "description";

  //   @include mixins.tablet {
  //     width: 47%;
  //   }

  //   @include mixins.mobile {
  //     width: 100%;
  //   }
  .favorite-icon {
    grid-area: favorite;
    margin: auto;
    cursor: pointer;
    color: grey;
    width: 1.5rem;
    height: 1.5rem;

    &--active {
      color: red;
    }
  }

  h3 {
    text-align: center;
    grid-area: title;
    font-size: 1rem;
    color: black;
  }

  p {
    grid-area: description;
    font-size: 1rem;
  }

  button {
    background-color: orange;
    color: rgb(8, 7, 8);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1rem;
    font-family: "Times New Roman", Times, serif;

    &:hover {
      background-color: yellowgreen;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
.card-container {
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
