.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-bg);
  color: var(--white-font);
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}
.nav-container ul {
  display: flex;
  list-style: none;
  column-gap: 2rem;
}
.nav-container ul li {
  a {
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    color: rgb(249, 247, 247);

    &hover {
      color: green;
    }

    &:active &.active {
      color: aqua;
    }
  }
}
// .nav-container ul li:hover {
//   color: green;
// }
// .nav-container ul li:active {
//   color: rgb(52, 224, 52);
// }
