@use "./assets/styles/mixsins";
@import "~bootstrap/scss/bootstrap";

.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: var(--container-max-width);
  margin: 0 auto;

  // @include tablet {
  //   padding: 0 2rem;
  // }
}
.burgerMeniu {
  display: none;
}
@media (max-width: 430px) {
  .meniu {
    display: none;
  }
  .burgerMeniu {
    display: block;
  }
}
